footer{
  background-color:var(--background-tertiary) ;
  padding-block: 18px;
  text-align: center;

  & > #new-scheduling{
    color: #050505;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--ff-title);

    padding: 12px 14px;
    border: none;
    border-radius: 5px;
    background-color: var( --content-brand) ;

    &:hover{
      background-color: var(--background-highlights);
      cursor: pointer;
      transform: scale(1.1);
      transition: 200ms ease-in-out transform;
    }
  }
}

@media only screen and (min-width:1024px) {
  footer{
  background-color:transparent;
  padding-block: 0;
  position: absolute;
  bottom: -7%;
  left: 70%;
  }
}