footer{
  background-color:var(--background-tertiary) ;
  padding-block: 18px;
  text-align: center;
}

@media only screen and (min-width:1024px) {
  footer{
  background-color:transparent;
  padding-block: 0;
  margin-top: 0;
  }
}