footer{
  background-color:var(--background-tertiary) ;
  padding-block: 18px;
  text-align: center;
}

@media only screen and (min-width:1024px) {
  footer{
  background-color:transparent;
  padding-block: 0;
  position: absolute;
  bottom: -7%;
  left: 70%;
  }
}