.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("../assets/arrow-down.svg") no-repeat;
}

.display-none{
  display: none;
}

.label-style{
  color: var(--content-primary);
  font: var(--text-lb-sm);
}

.icon-wrapper{
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  padding: 12px;
}

.input-style{
  color: var(--content-secondary);
  font: var(--text-md);

  border: none;
  background-color: transparent;


  &::placeholder{
    color: var(--content-secondary);
  }
}