.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("../assets/arrow-down.svg") no-repeat;
}